.c-token-hll { background-color: #ffffcc }
.c-token-c { color: #408080; font-style: italic } /* Comment */
.c-token-err { border: 1px solid #FF0000 } /* Error */
.c-token-k { color: #008000; font-weight: bold } /* Keyword */
.c-token-o { color: #666666 } /* Operator */
.c-token-ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.c-token-cm { color: #408080; font-style: italic } /* Comment.Multiline */
.c-token-cp { color: #BC7A00 } /* Comment.Preproc */
.c-token-cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.c-token-c1 { color: #408080; font-style: italic } /* Comment.Single */
.c-token-cs { color: #408080; font-style: italic } /* Comment.Special */
.c-token-gd { color: #A00000 } /* Generic.Deleted */
.c-token-ge { font-style: italic } /* Generic.Emph */
.c-token-gr { color: #FF0000 } /* Generic.Error */
.c-token-gh { color: #000080; font-weight: bold } /* Generic.Heading */
.c-token-gi { color: #00A000 } /* Generic.Inserted */
.c-token-go { color: #888888 } /* Generic.Output */
.c-token-gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.c-token-gs { font-weight: bold } /* Generic.Strong */
.c-token-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.c-token-gt { color: #0044DD } /* Generic.Traceback */
.c-token-kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.c-token-kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.c-token-kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.c-token-kp { color: #008000 } /* Keyword.Pseudo */
.c-token-kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.c-token-kt { color: #B00040 } /* Keyword.Type */
.c-token-m { color: #666666 } /* Literal.Number */
.c-token-s { color: #BA2121 } /* Literal.String */
.c-token-na { color: #7D9029 } /* Name.Attribute */
.c-token-nb { color: #008000 } /* Name.Builtin */
.c-token-nc { color: #0000FF; font-weight: bold } /* Name.Class */
.c-token-no { color: #880000 } /* Name.Constant */
.c-token-nd { color: #AA22FF } /* Name.Decorator */
.c-token-ni { color: #999999; font-weight: bold } /* Name.Entity */
.c-token-ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.c-token-nf { color: #0000FF } /* Name.Function */
.c-token-nl { color: #A0A000 } /* Name.Label */
.c-token-nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.c-token-nt { color: #008000; font-weight: bold } /* Name.Tag */
.c-token-nv { color: #19177C } /* Name.Variable */
.c-token-ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.c-token-w { color: #bbbbbb } /* Text.Whitespace */
.c-token-mb { color: #666666 } /* Literal.Number.Bin */
.c-token-mf { color: #666666 } /* Literal.Number.Float */
.c-token-mh { color: #666666 } /* Literal.Number.Hex */
.c-token-mi { color: #666666 } /* Literal.Number.Integer */
.c-token-mo { color: #666666 } /* Literal.Number.Oct */
.c-token-sb { color: #BA2121 } /* Literal.String.Backtick */
.c-token-sc { color: #BA2121 } /* Literal.String.Char */
.c-token-sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.c-token-s2 { color: #BA2121 } /* Literal.String.Double */
.c-token-se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.c-token-sh { color: #BA2121 } /* Literal.String.Heredoc */
.c-token-si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.c-token-sx { color: #008000 } /* Literal.String.Other */
.c-token-sr { color: #BB6688 } /* Literal.String.Regex */
.c-token-s1 { color: #BA2121 } /* Literal.String.Single */
.c-token-ss { color: #19177C } /* Literal.String.Symbol */
.c-token-bp { color: #008000 } /* Name.Builtin.Pseudo */
.c-token-vc { color: #19177C } /* Name.Variable.Class */
.c-token-vg { color: #19177C } /* Name.Variable.Global */
.c-token-vi { color: #19177C } /* Name.Variable.Instance */
.c-token-il { color: #666666 } /* Literal.Number.Integer.Long */
