/* style.css */
/* Author: Rob Whitaker */

body {
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
	display: inline;
}

form {
	margin: 0;
	padding: 0;
}

label {
	float: left;
}

input {
	float: right;
}

pre {
	font-size: 8pt;
	overflow: hidden;
}

#source {
	background-color: #DDD;
	padding: 10pt;
	color: #000;
	width: 50%;
	height: 89%;
	border-right: 1pt solid #FFF;
}

#asm {
	background-color: #EFEFEF;
	padding: 10pt;
	width: 50%;
	height: 89%;
	border-left: 1pt solid #FFF;
}

#asm-code {
	display: block;
	border: solid 1px #DDD;

	mask-image: -webkit-gradient(linear, top, bottom,
		color-stop(0.00,  rgba(0,0,0,1)),
		color-stop(0.95,  rgba(0,0,0,1)),
		color-stop(1.00,  rgba(0,0,0,0)));
}


#source-code {
	border: solid 1px #EFEFEF;
}

#top {
	background-color: #66B9BF;
	border-bottom: 2pt solid #FFF;
	/* child of .container */
	height: 11%;
}

#title {
	padding: 10pt 5pt 10pt 5pt;
	font-size: 24pt;
	color: #FFF;
}

#flash-container {
	padding: 10pt 5pt 10pt 5pt;
}

#compiling {
	font-family: 'Josefin Sans' sans-serif;
	font-size: 18pt;
	/* width: 100%; */
	margin: auto;
	padding: 48pt 0 48pt 0;
	text-align: center;
	background-color: #DDD;
}

.tools {
	/* child of #asm and #source */
	height: 11%;
}

.content {
	padding: 5pt;
	border-radius: 5px;
	font-family: Monospace;

	/* relative to parents .col-sm-6 */
	height: 89%;

	/* adding a scrollbar clips tooltips,
	they must be positioned on their own */
	overflow-x: hidden;
	overflow-y: scroll;
}

.asm-line, .src-line {
	padding: 2pt 5pt 2pt 5pt;
	display: block;
}

.src-line {
	overflow: hidden;
}

.asm-token {
	/*padding: 0 5pt 0 5pt;*/
	display: inline-block;
	width: 21%;
}

.asm-no {
	padding: 0 5pt 0 0;
	display: inline-block;
	width: 6%;
}

.asm-mnemonic {
	font-weight: bold;
}

.token-text {
	border-radius: 5px;
	white-space: nowrap;
	padding: 0 5pt 0 5pt;
}

.asm-token:hover .token-text {
	background-color: #DDD;
}

.asm-label{
	font-style: italic;
	color: #8b7355;
}

.asm-register {
	color: #8b3e2f;
}

.tt {
	visibility: hidden;
	position: absolute;
	text-align: left;

	width: 300px;
	padding: 10px;
	border-radius: 5px;

	font-family: sans-serif;

	background-color: rgba(0,0,0,0.9);
	box-shadow: 3px 3px 2px #888;
	color: #FFF;

	right: 105%;
	top: 0;
	z-index: 1;
}

.wrapper {
	position: relative;
}

.asm-token:hover .tt {
	visibility: visible;
}

.tt-row {
	display: block;
}

.tt-title {
	font-weight: bold;
	color: red;
	display: inline-block;
}

.tt-syn {
	font-style: italic;
	display: inline-block;
	float: right;
}

.tt-mnem {
	font-style: normal;
	font-family: Monospace;
	display: inline-block;
}

.tt-desc {
	white-space: pre-wrap;
}

.tt-code {
	font-family: Monospace;
	padding: 0 0 0 10pt;
}

.c-line {
	display: inline-block;
	width: 90%;
	white-space: pre;
}

.c-no {
	display: inline-block;
	width: 4%;
}

.flash {
	border-radius: 10px;
	padding: 5px;
	color: #F00;
	font-weight: bold;
}

.clear {
	clear: both;
}

.menu-item {
	float: right;
	padding: 10pt 5pt 10pt 5pt;
	font-size: 18pt;
	text-align: center;
	color: #FFF;
	border-left: 1pt solid #FFF;
}

.menu-item:hover {
	background-color: #07889B;
}

.label-header {
	float: left;
	font-size: 24pt;
}

.label-button {
	float: right;
	font-size: 18pt;
	border-radius: 5px;
	background-color: #EEE;
	border: 1pt solid #000;
	padding: 5pt;
	text-align: center;
	cursor: pointer;
}

.label-button:hover {
	background-color: #EEAA7B;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.loc {
	border-radius: 5px;
	cursor: pointer;
}

.color-1 {
	background-color: rgba(211, 248, 226, .8);
}

.color-2 {
	background-color: rgba(228, 193, 249, .8);
}

.color-3 {
	background-color: rgba(244, 146, 212, .8);
}

.color-4 {
	background-color: rgba(237, 231, 177, .8);
}

.color-5 {
	background-color: rgba(169, 222, 249, .8);
}

