<html>
<head>

	<title>assemblance</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}} >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src={{url_for('static', filename="interact.js") }}></script>

</head>
<body>

<div id="page" class="container">
	<!-- Toolbar / control area -->
	<div class="row" id="top">
		<!-- Title area -->
		<a href="/">
		<div class="col-sm-3" id="title">
			<h1> assemblance </h1>
		</div>
		</a>

		<!-- Flashed messages -->
		<div class="col-sm-6" id="flash-container">
			{% for message in get_flashed_messages() %}
	    		<div class="flash">{{ message }}</div>
	  		{% endfor %}
	  	</div>

	  	<!-- Navigation -->
	  	<div class="col-sm-3" id="menu">
	  		<a href="http://github.com/rmw2/Assemblance"><div class="menu-item"> github </div></a>
	  		<a href={{ url_for('about') }}><div class="menu-item"> about </div></a>
	  	</div>

	  	<div class="clear"></div>
  	</div>

	<!-- Text area -->
	<div class="row" id="main">
		<!-- left column of the page -->
		<div class="col-sm-6" id="source">
			<div class="tools">
			<form method="post" enctype="multipart/form-data">
				<span class="label-header"> source </span>
				<input type="file" class="inputfile" id="upload-src" name="srcfile">
				<label class="label-button" for="upload-src"> upload file </label>
				<div class="clear"></div>
			</form>
			</div>

			<div class="wrapper">
			<div id="source-code" class="content">
				{% if srctext %}
					{{srctext|safe}}
				{% else %} Source goes here.
				{% endif %}
			</div>
			</div>
		</div>

		<!-- right column of the page -->
		<div class="col-sm-6" id="asm">
			<div class="tools">
			<!--<form method="post" enctype="multipart/form-data">-->
				<span class="label-header"> assembly </span>
			<!--	<input type="file" class="inputfile" id="upload-asm" name="asmfile" ></button> -->
			<!--	<label class="label-button" for="upload-asm"> upload file </label> -->
				<div class="clear"></div>
			<!--</form>-->
			</div>
			<div class="wrapper">
			<div id="asm-code" class="content">
				{% if asmtext %}
					{{asmtext|safe}}
				{% else %} Assembly goes here.
				{% endif %}
			</div>
			</div>
		</div><!-- /.container -->
	</div>
</div>

</body>
</html>